<div class="language-switch">
  <button class="lang-btn active" data-lang="pt">🇧🇷 <span>pt</span></button>
  <button class="lang-btn" data-lang="en">🌍 <span>en</span></button>
  <button class="lang-btn" data-lang="jp">🇯🇵 <span>jp</span></button>
  
</div>
<p class="bio pt active">Escrevo, Ensino e exploro ideias sobre <strong>Linguagens, Arte e Tecnologia 🖤</strong></p>
<p class="bio en">Writer, Teacher, Explorer ｜ <strong>Languages, Art and Technology 🖤</strong></p>
<p class="bio jp">作家・教師・探求者｜言語・アート・テクノロジー 🖤</p>