<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  {% include header.html %}
    <div class="card-grid">
      <a class="card pt"  href="aulas" target="_blank">
        <img src="images/image (36).png" alt="YouTube" />
        <div class="card-content">
          <h2>Aulas e Mentorias para Brasileiros 🇧🇷</h2>
          <p>
            <strong>
              <span>Inglês, Preparação para Entrevistas</span></strong>
            </p>
        </div>
      </a>
      <a class="card en" href="https://cesartalvezlearning.com/lessons" target="_blank">
        <img src="images/image (36).png" alt="YouTube" />
        <div class="card-content">
          <h2>🌎 Private Lessons and Mentorship</h2>
          <p>
            <strong>
              
              Programming? Interview Preparation? Counseling? 
            </strong>
            
          </p>
          <br>
          <span>I will teach you <strong>anything</strong> I know!</span> 
        </div>
      </a>

      <a class="card jp"  target="_blank">
        <img src="images/image (36).png" alt="lessons" />
        <div class="card-content">
          <h2>英語の先生 🇯🇵</h2>
          <p>
            <strong>
              <span>日本語を勉強しています。もし日本語を手伝ってくれたら、英語をお手伝いします！</span></strong>
              Add me on LINE, link ABOVE ⬆️
            </p>
        </div>
      </a>

      <a class="card-with-text" href="https://cesartalvezlearning.com" target="_blank">
        <img src="images/cesartalvez-learning.jpeg" alt="cesartalvez-learning" />
        <div class="card-text en">
          <h3>cesartalvez Learning | Blog</h3>
          <p>Learning Anything | Languages, Meta-Learning, Instruments and MORE?!  </p>
        </div>
        <div class="card-text pt">
          <h3>cesartalvez Learning | Blog</h3>
          <p> <strong>Aprenda à Aprender </strong>
            <br>
            Meta-Aprendizagem, Idiomas, Instrumentos e muito Mais?!  </p>
        </div>
        <div class="card-text jp">
          <h3>cesartalvez Learning | Blog</h3>
          <p>Learning Anything | Languages, Meta-Learning, Instruments and MORE?!  </p>
        </div>
      </a>

      <!-- <a class="card" href="https://patreon.com/cesartalvez" target="_blank">
        <img src="https://c5.patreon.com/external/logo/downloads_logomark_color_on_coral.png" alt="Patreon" />
        <div class="card-content">
          <h2>Patreon</h2>
          <p>Me apoie e receba Conteúdos exclusivos, Aulas e spoilers!</p>
        </div>
      </a> -->

      <!-- <a class="card-with-text" href="https://patreon.com/cesartalvez">
        <img src="https://ugc.production.linktr.ee/72dce281-3cdc-4e28-a98b-7c60000f8a0b_captain-kurapika.jpeg?io=true&size=thumbnail-feature-v1_0" alt="true-form" />
        <div class="card-text en">
          <h3>cesartalvez' Angel's Psychedelia</h3>
          <p>Tales, Articles, Art | Psychology, Love, Spirituality 🌙 </p>
        </div>
        <div class="card-text pt">
          <h3>Contos de cesartalvez: A Psicodelia dos Anjos</h3>
          <p>Histórias, Artigos, Arte | Psicologia, Amor, Espiritualidade 🌙 </p>
        </div>
        <div class="card-text jp">
          <h3>「cesartalvez」の 天使たちの症候群</h3>
          <p>物語・記事・アート｜心理・愛・倫理学 🌙 </p>
        </div>
      </a> -->

      <!-- <a class="card-with-text" href="https://cesartalves.tumblr.com" _target=""_blank>
        <img src="images/necrodancer.jpg" alt="portfolio" />
        <div class="card-text en">
          <h3>Illustration Portfolio</h3>
          <p>Check my Drawings and Paintings ☺️</p>
        </div>
        <div class="card-text pt">
          <h3>Portfolio de Ilustração</h3>
          <p>Confira meus Desenhos e Pinturas ☺️</p>
        </div>
        <div class="card-text jp">
          <h3>Illustration Portfolio</h3>
          <p></p>
        </div>
      </a> -->
    </div>
    <div style="margin-top: 30px;">
      <hr>
      <h1>Artigos</h1>
      <div class="en">I also write articles. Hope you enjoy!</div>
      <div class="pt">Também escrevo artigos. Espero que goste!</div>
    </div>
    {{ content }}
  </div>
</div>
  
</div>
<div class="footer">
<p>🤖 &nbsp;80% generated with AI.  <a href="https://github.com/cesartalves/cesartalves.github.io">Copy if you want!</a>
(but review with 105% of the <a href="https://patreon.com/cesartalvez" target="_blank">Heart 🦋</a>)
</p>
</div>

</body>

<script src="{{ 'js/script.js' | relative_url }}"></script>

</html>
